<div class="container">
  <div style="margin: 30px">
    <h1 class="ion-text-center">Register</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name*</label>
        <input class="form-control" formControlName="fname" type="text" />
      </div>
      <small
        class="error-message"
        *ngIf="loginForm.controls['fname'].errors && (loginForm.get('fname')?.touched || loginForm.get('fname')?.dirty)"
        >{{ getMessageError('fname') }}
      </small>

      <div class="form-group">
        <label>Last Name*</label>
        <input class="form-control" formControlName="lname" type="text" />
      </div>
      <small
        class="error-message"
        *ngIf="loginForm.controls['lname'].errors && (loginForm.get('lname')?.touched || loginForm.get('lname')?.dirty)"
        >{{ getMessageError('lname') }}
      </small>

      <div class="form-group">
        <label>Email*</label>
        <input class="form-control" formControlName="email" type="text" />
      </div>
      <small
        class="error-message"
        *ngIf="loginForm.controls['email'].errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)"
        >{{ getMessageError('email') }}
      </small>

      <div class="form-group">
        <label>Password*</label>
        <input
          class="form-control"
          formControlName="password"
          type="password"
        />
      </div>
      <small
        class="error-message"
        *ngIf="loginForm.controls['password'].errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)"
        >{{ getMessageError('password') }}
      </small>

      <div class="form-group">
        <label>Confirm Password*</label>
        <input
          class="form-control"
          formControlName="confirmPassword"
          type="password"
        />
      </div>
      <small
        class="error-message"
        *ngIf="loginForm.controls['confirmPassword'].errors && (loginForm.get('confirmPassword')?.touched || loginForm.get('confirmPassword')?.dirty)"
        >{{ getMessageError('confirmPassword') }}
      </small>
      
      <br />
      <button
        class="form-control btn btn-primary"
        [disabled]="!loginForm.valid"        
      >
        Signup
      </button>
    </form>
  </div>
</div>
